#header {
    width: 600px;
    background-color: #fff8;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0px auto;
    box-shadow: 10px 10px 10px #1117;
}

hr {
    visibility: hidden;
}

body {
    background-color: orange;
    margin: 0px auto;
    height: auto;
}

main {
    background-color: #fff8;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: auto;
    margin: 0px auto;
    width: 600px;
    box-shadow: 10px 10px 10px #1117;
}

#book-display {
    border-radius: 10px;
    margin: 0px auto;
}

footer {
    display: block;
    width: 600px;
    margin: 0px auto;
}