#header {
    width: 700px;
    background-color:#fff8;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    margin: 0px auto;
    
}

body {
  
    background-color: orange;
    height: 800px;
    margin: 0px auto;
}

main {
    background-color: #fff8;
    border-radius: 10px;
    
    height: 800px;
    margin: 0px auto;
    width: 700px;
}

#book-display {
   
    border-radius: 10px;
    margin: 0px auto;
}