#logo {
    display: inline-block;
    background-image: url("./logo/cflogo.png");
    background-size: cover;
    width: 65px;
    height: 65px;
    /* opacity: 1; */
}

#navbar ul {
    display: block;
    text-align: center;
    padding: 0px;
}

#navbar ul li {
    box-sizing: border-box;
    display: inline-block;
    padding: 5px;
    background-color: #5558;
    border-radius: 5px;
    box-shadow: 8px 2px 5px #6664;
    margin-left: 30px;
    width: 25%;
    list-style: none;
}

#navbar ul li:hover {
    background-color: #8889;
    transition-duration: 300ms;
    transform: scale(1.3);
}

#p-background {
    color: white;
    background-color: #444;
    width: 90%;
    margin: 0px auto;
    /* border-top-left-radius: 8px; */
    /* border-top-right-radius: 8px; */
}

#des-background {
    background-color: burlywood;
    width: 90%;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #6668;
}

.book-img {
    display: block;
    background-image: url("https://books.google.com/books/content?id=B1hSG45JCX4C&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api");
    width: 250px;
    height: 300px;
    background-size: cover;
    margin: 10px auto;
    border: 10px solid orange;
}

#fb-link {
    display: block;
    background-image: url("./logo/facebook-logo.svg");
    background-size: cover;
    width: 30px;
    height: 30px;
}

#git-link {
    display: block;
    background-image: url("./logo/github-sign.svg");
    background-size: cover;
    width: 30px;
    height: 30px;
}

#footer-div {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
}

footer ul {
    text-align: center;
    grid-column: 3;
}

footer ul li {
    display: inline-block;
}

footer ul li:hover {
    transition-duration: 300ms;
    transform: scale(1.3);
}

footer p {
    grid-column: 2;
    text-align: center;
}